### Gradle (backend/) ###
backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Frontend ###
frontend/node_modules/
frontend/dist/

### Study project exclusions ###
backend/var/
Christialattion/

